@model UniversityApplicationFinal.Models.UniversityModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1   style="text-align:center"; style="color:blue>Details Of Universities</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AffiliatedUnder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AffiliatedUnder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstablishedYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstablishedYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
